Act2_LM_Maria/biblioteca.xsd


<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="biblioteca">
        <complexType>
            <sequence>
                <element name="libros">
                    <complexType>
                        <sequence>
                            <element name="libro" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="titulo">
                                            <simpleType>
                                                <restriction base="string">
                                                    <maxLength value="50"></maxLength>
                                                </restriction>
                                            </simpleType>
                                        </element>
                                        <element name="capitulos">
                                            <complexType>
                                                <sequence>
                                                    <element name="capitulo" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="titulo">
                                                                    <simpleType>
                                                                        <restriction base="string">
                                                                            <maxLength value="50"></maxLength>
                                                                        </restriction>
                                                                    </simpleType>
                                                                </element>
                                                                <element name="contenido">
                                                                    <complexType>
                                                                        <attribute name="info" type="string"></attribute>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="num_pag" type="integer" use="required"></attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="indice" type="string"></element>
                                        <element name="sinopsis">
                                            <simpleType>
                                                <restriction base="string">
                                                    <minLength value="200"></minLength>
                                                    <maxLength value="1500"></maxLength>
                                                </restriction>
                                            </simpleType>
                                        </element>
                                    </sequence>
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <pattern value="[L]\d{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="novela"></enumeration>
                                                <enumeration value="didactico"></enumeration>
                                                <enumeration value="infantil"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="num_pag" type="integer" use="required"></attribute>
                                </complexType>
                            </element>
                        </sequence>
                        
                    </complexType>
                </element>
                <element name="revistas">
                    <complexType>
                        <sequence>
                            <element name="revista" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="titulo">
                                            <simpleType>
                                                <restriction base="string">
                                                    <maxLength value="30"></maxLength>
                                                </restriction>
                                            </simpleType>
                                        </element>
                                        <element name="numero_revista" type="integer"></element>
                                        <element name="indice" type="string"></element>
                                        <element name="secciones">
                                            <complexType>
                                                <sequence>
                                                    <element name="seccion" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="contenido">
                                                                    <complexType>
                                                                        <attribute name="info" type="string" use="required"></attribute>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="num_pag" type="integer" use="required"></attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <pattern value="([R]\d{4})"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="informatica"></enumeration>
                                                <enumeration value="corazon"></enumeration>
                                                <enumeration value="coches"></enumeration>
                                                <enumeration value="investigacion"></enumeration>
                                                <enumeration value="otras"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="num_pag" type="integer" use="required"></attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="periodicos">
                    <complexType>
                        <sequence>
                            <element name="periodico" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="secciones_p">
                                            <complexType>
                                                <sequence>
                                                    <element name="seccion_p" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element  name="articulos">
                                                                    <complexType>
                                                                        <sequence>
                                                                            <element name="articulo" maxOccurs="unbounded">
                                                                                <complexType>
                                                                                    <sequence>
                                                                                        <element name="contenido">
                                                                                            <complexType>
                                                                                                <attribute name="info" type="string" use="required"></attribute>
                                                                                            </complexType>
                                                                                        </element>
                                                                                    </sequence>
                                                                                    <attribute name="autor" use="optional" default="desconocido">
                                                                                        <simpleType>
                                                                                            <restriction base="string">
                                                                                                <pattern value="[A-Za-z]+(\s*[A-Za-z]*)+"></pattern>
                                                                                                <maxLength value="100"></maxLength>
                                                                                            </restriction>
                                                                                        </simpleType>
                                                                                    </attribute>
                                                                                </complexType>
                                                                            </element>
                                                                        </sequence>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="tipo_seccion" use="required">
                                                                <simpleType>
                                                                    <restriction base="string">
                                                                        <enumeration value="economica"></enumeration>
                                                                        <enumeration value="opinion"></enumeration>
                                                                        <enumeration value="deportes"></enumeration>
                                                                        <enumeration value="nacional"></enumeration>
                                                                        <enumeration value="internacional"></enumeration>
                                                                    </restriction>
                                                                </simpleType>
                                                            </attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="indice" type="string"></element>
                                    </sequence>
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <pattern value="[P]\d{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="nacional"></enumeration>
                                                <enumeration value="internacional"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="fecha_publi" type="date" use="required"></attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>